/* Impostazioni pagina */
body {
    background-color: #f4f8f9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
}

/* end Impostazioni pagina */

/* Intestazione e logo */
.sfondo {
    background-color: red;
    height: 100px;
}

.sfondo img {
    float: left;

}

.sfondo h1 {
    position: relative;
    left: 10px;
}

/* end Intestazione e logo */

/* Lista cose da fare */
main {}

#sx {
    color: rgb(255, 255, 255);
    background-color: aqua;
}

#dx {
    color: rgba(25, 25, 25, 0.1);
}

.elenco {
    font-size: 15px;
    font-weight: bold;
}

/* end Lista cose da fare */